body {
	margin:0;
	padding:0;
}

nav ul {
    width: 100%;
    background-color: rgba(44, 42, 39, 0.983);
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:50px;
    vertical-align:middle;
}

a {
	text-decoration:none;
	color:white;
}

nav ul li {
    display: inline-block;
    color:white;
    line-height:50px;
}

.navLogo {
	float:left;
	margin-left:20px;
}

.navMenu {
	float:right;
	width:100px;
}
